<!-- THIS CAN BE HIDDEN IN SCRIPT ON ALL PAGES BUT MAIN/INDEX/HOME -->
<div class="overall col-md-12 shadow-sm p-3 mb-5 bg-white rounded" id="hide-when-not-index">
   <h3 class="description col-md-12">
      "Hello there! We are an application that connects local small businesses with aspiring app developers! How can we
      help you
      today?"
   </h3>
   <div id="find-help" class="who col-md-6">
      <h2 class="subtitle">Find a Raccoon</h2>
      <div class="row post-job">
         <button class="main-button" id="post-job-btn">postJob</button>
      </div>
      <div class="row find-raccoon">
         <button class="main-button" id="find-raccoon-btn">findRaccoon</button>
      </div>
   </div>
   <div id="get-job" class="who col-md-6">
      <h2 class="subtitle">Find a Job</h2>
      <div class="row job-search">
         <button class="main-button" id="job-search-btn">browseJobs</button>
      </div>
      <div class="row create-profile">
         <button class="main-button" id="create-profile-btn">createProfile</button>
      </div>
   </div>
</div>

{{!-- home page does not have block insertions --}}

<script type='text/javascript' src='./assets/js/home.js'></script>