<div class="overall col-md-12 shadow-sm p-3 mb-5 bg-white rounded" id="hide-when-not-index">
    <h3 class="description col-md-12">
        Your Saved Jobs
    </h3>
</div>


<p>Here are your saved jobs that we will eventually get working!</p>




<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type='text/javascript' src='./assets/js/home.js'></script>
<script type='text/javascript' src='./assets/js/login.js'></script>
<script type='text/javascript' src='./assets/js/signup.js'></script>