body {
  width: 80%;
  height: 900px;
  background-color: #e7e7e7ec;
}

#top-bar {
  margin: 25px 0px 25px 0px;
  padding: 15px;
  border-radius: 10px;
  display: inline-block;
}

.spacing-reset {
  padding: 0;
  margin: 0;
  border: 0;
}

.list-reset {
  padding: 0;
  margin: 0;
  list-style-type: none;
  border: 0;
}

@media (min-width: 1200px) {
  .container {
    width: 990px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 990px;
  }
}

.enter_section {
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}

#enter_text {
  width: 400px;
  height: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: auto;
  font-size: 16px;
}

.task {
  border-color: black;
  border-style: solid;
  border-width: 3px;
}

.button-size {
  padding-bottom: 20px;
}

#text-enter-button {
  margin-top: 10px;
  width: 398px;
  margin-bottom: 16px;
}

.logo {
  max-width: 50%;
  margin-top: 30px;
  padding: 8px;
}

.title {
  max-width: 50%;
  padding: 5%;
}

.main-button {
  width: 200px;
  height: 100px;
  margin: 5%;
  font-size: large;
}
.overall {
  background-color: ffffff;
  border-radius: 10px;
  border: 5px solid 000080;
}
.description {
  color: rgb(255, 255, 255);
  margin-top: 10px;
  margin-bottom: 30px;
  font-family: 'Lobster', cursive;
  background-color: rgb(31, 31, 31);
  border-radius: 25px;
  padding: 5%;
  padding-left: 15%;
  padding-right: 15%;
  width: 250px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}

.who {
  background-color: rgb(224, 238, 240);
}

.links {
  padding-top: 5%;
  padding-left: 50px;
}